<html>
  <body>
    {{$t := .}}<form action="/edit/{{$t.Id}}" method="POST">
      <fieldset>
	<legend>Owner</legend>
	Email: <input type="text" name="owner-email" value="{{$t.Owner.Email}}"><br>
      </fieldset>
      <fieldset>
	<legend>Details</legend>
	Id: {{$t.Id}}<br>
	Title: <input type="text" name="title" value="{{$t.Title}}"><br>
	Description: <input type="text" name="description" value="{{$t.Description}}"><br>
	Due: <input type="text" name="due" value="{{$t.Due.Format "2006-01-02"}}"> (YYYY-MM-DD)<br>
	Interval (days): <input type="text" name="interval" value="{{$t.IntervalDays}}"><br>
	ThingName: <input type="text" name="thingname" value="{{$t.ThingName}}"><br>
	ThingLink: <input type="text" name="thinglink" value="{{$t.ThingLink}}"><br>
      </fieldset>
      <fieldset>
	<legend>Particpiants</legend>
	{{range $i, $p := $t.Participants}}Email: <input type="text" name="p{{$i}}-email" value="{{$p.Email}}"> Role: <input type="text" name="p{{$i}}-role" value="{{$p.Role}}"> Done: <input type="checkbox" name="p{{$i}}-done" {{if $p.Done}}checked="checked"{{end}}><br>{{end}}
      </fieldset>
      <br>
      <input type="submit" value="save">
    </form>
  </body>
</html>
